################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ddbb/Ddbb/bin/Debug
/Ddbb/Ddbb/obj/Debug
/Ddbb/Ddbb.Core/bin/Debug
/Ddbb/Ddbb.Core/obj/Debug
/Ddbb/Ddbb.Data/bin/Debug
/Ddbb/Ddbb.Data/obj/Debug
/Ddbb/Ddbb.Data.Tests/bin/Debug
/Ddbb/Ddbb.Data.Tests/obj/Debug
source/ddbb/components/tabManager/bin/
source/ddbb/components/tabManager/obj/
source/ddbb/components/shell/obj/
source/ddbb/components/shell/bin/
source/ddbb/components/dbExplorer/obj/
source/ddbb/contracts/bin/
source/ddbb/contracts/obj/
source/ddbb/app/obj/
source/ddbb/components/dbExplorer/bin/
source/ddbb/packages/
source/ddbb/app/bin/
*.suo
/source/ddbb/components/viewManager/bin/Debug
/source/ddbb/components/viewManager/obj/Debug
/source/ddbb/data/dataContracts/bin/Debug
/source/ddbb/data/dataContracts/obj/Debug
/source/ddbb/data/documentDb/bin/Debug
/source/ddbb/data/documentDb/obj/Debug
source/ddbb/infrastructure/bin/
source/ddbb/components/connectionManager/obj/
*/obj/*
source/ddbb/infrastructure/obj/
source/ddbb/domain/obj/
source/ddbb/domain/bin/
source/ddbb/components/connectionManager/bin/
*.DotSettings
*.user
/source/ddbb/components/toolbar/bin/Debug
/source/ddbb/components/toolbar/obj/Debug
source/ddbb/documentDb/bin/
source/ddbb/documentDb/obj/
