################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ddbb/Ddbb/bin/Debug
/Ddbb/Ddbb/obj/Debug
/Ddbb/Ddbb.Core/bin/Debug
/Ddbb/Ddbb.Core/obj/Debug
/Ddbb/Ddbb.Data/bin/Debug
/Ddbb/Ddbb.Data/obj/Debug
/Ddbb/Ddbb.Data.Tests/bin/Debug
/Ddbb/Ddbb.Data.Tests/obj/Debug
