<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SyngineDbUrl" value="https://syngine.documents.azure.com:443/" />
		<add key="SyngineDbKey" value="uGR0ewzGL3y1m5fuqQAYq7e5eU37tRCPCAZ6HY94y3pnS07oQ7jmAT8U4YizS+5K27ptd0Kne7RM9hpKwlSyFA==" />
		<add key="SyngineDbName" value="testdb" />
	</appSettings>
</configuration>